{
  "check-coverage": true,
  "per-file": true,
  "all": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/*.js",
    "src/routers/*.js"
  ],
  "require": [
    "@babel/register"
  ]
}
